<template>
  <div class="auth">
    <div class="circle-box">
      <div class="circle small"></div>
      <div class="circle medium"></div>
      <div class="circle large"></div>
    </div>
    <div class="form">
      <div class="login" v-if="status == 1">
        <p style="text-align:center;" class="mb-3">
          ورود به سایت انجمن علمی
          <b style="color: #4db6ac;">دانشگاه صنعتی سجاد</b>
        </p>
        <form action>
          <div class="input">
            <i style="color:#4db6ac" class="el-icon-user"></i>
            <input placeholder="شماره موبایل" type="text" class="txt-input" />
          </div>
          <div class="input">
            <i style="color:#4db6ac" class="el-icon-lock"></i>
            <input placeholder="گذرواژه" type="password" class="txt-input" />
          </div>
          <div class="form--footer">
            <a href="#" class="recover-password">گذرواژه رو فراموش کردی ؟</a>
            <button class="mybtn">ورود</button>
          </div>
        </form>
      </div>
      <div class="singup" v-if="status == 2">
        <p style="text-align:center;" class="mb-3">
          ثبت نام در سایت انجمن علمی
          <b style="color: #4db6ac;">دانشگاه صنعتی سجاد</b>
        </p>
        <form action>
          <div class="input">
            <i style="color:#4db6ac" class="el-icon-mobile-phone"></i>
            <input placeholder="شماره موبایل" type="number" class="txt-input" />
          </div>
          <div class="input">
            <i style="color:#4db6ac" class="el-icon-user"></i>
            <input placeholder="نام کامل" type="text" class="txt-input" />
          </div>
          <div class="input">
            <i style="color:#4db6ac" class="el-icon-edit"></i>
            <input placeholder="شماره دانشجویی" type="text" class="txt-input" />
          </div>
          <div class="input">
            <i style="color:#4db6ac" class="el-icon-lock"></i>
            <input placeholder="گذرواژه" type="password" class="txt-input" />
          </div>
          <div class="form--footer">
            <button class="mybtn" style="width: 100% !important;">ثبت نام</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<style scoped>
.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  direction: rtl;
  flex-direction: row;
  position: relative;
  align-items: center;
  overflow: hidden !important;
}
.form {
  width: 30vw;
  margin-right: 10vw;
}
.form--footer {
  direction: rtl;
  text-align: right;
  margin: 10px 10px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mybtn {
  border: none;
  background: #4db6ac;
  color: #fff;
  border-radius: 50px;
  padding: 5px;
  width: 50%;
  transition: all 0.2s;
  -webkit-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
.mybtn:hover {
  background: #26a69a;
  cursor: pointer;
}
.recover-password {
  color: grey;
  text-decoration: none;
  transition: all 0.2s;
}
.recover-password:hover {
  color: #000000;
}
.circle-box {
  display: flex;
  align-items: center;
}
.circle {
  background-color: #4db6ac;
  border-radius: 50%;
  position: absolute;
}
.small {
  width: 50vw;
  height: 100vh;
  left: -25vw;
  z-index: 10000;
}
.medium {
  width: 60vw;
  height: 120vh;
  left: -25vw;
  opacity: 0.7;
}
.large {
  width: 65vw;
  height: 130vh;
  left: -25vw;
  opacity: 0.5;
}
.input {
  -webkit-box-shadow: -3px 3px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -3px 3px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 3px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  margin: 40px 0;
  padding: 5px 20px;
  width: 100%;
}
.txt-input {
  border: none;
  outline: none;
  text-align: center;
  border-radius: 50px;
  width: 85%;
}
@media only screen and (max-width: 768px) {
  * {
    font-size: 0.9rem;
  }
  .mybtn {
    width: 30%;
  }
  .circle {
    border-radius: 50%;
    position: absolute;
  }
  .form {
    width: 50vw;
    margin-right: 5vw;
  }
  .txt-input {
    width: 80%;
  }
  .small {
    width: 100vw;
    height: 100vh;
    left: -80vw;
  }
  .medium {
    width: 110vw;
    height: 110vh;
    left: -80vw;
    opacity: 0.7;
  }
  .large {
    width: 120vw;
    height: 120vh;
    left: -80vw;
    opacity: 0.5;
  }
}
</style>
<script>
export default {
  layout: "auth",
  data() {
    return {
      status: 1
    };
  }
};
</script>